html,
body {
  font-size: 20px;
}

.flex-container {
  display: flex;
}

/* header section */

header {
  background-color: black;
  align-items: center;
}

header img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-top: .66rem;
  padding-bottom: .66rem;
  height: 1.5rem;
}

header span p {
  color: white;
  padding-top: .66rem;
  padding-bottom: .66rem;
  font-family: helvetica;
}

/* new arrival section */

.newarrival {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
}

.newarrivalbox {
  padding-left: 3rem;
  width: 20rem;
  padding-top: 9rem;
}

.text {
  background-color: black;
}

.newarrivalbox .subheader p {
  padding-top: 2rem;
  padding-bottom: .25rem;
  font-size: 1rem;
  font-family: helvetica;
  font-weight: bold;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.newarrivalbox .header h1 {
  color: white;
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

/* categories section */

.category {
  background-color: firebrick;
  justify-content: space-around;
}

.menu {
  display: none;
}

.category span p {
  color: white;
  font-family: helvetica;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

/* items section */

.products {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.product span {
  font-family: helvetica;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* details section */

.details {
  margin-top: 3rem;
  font-family: helvetica;
  display: flex;
  justify-content: space-around;
}

.indiv-detail {
  width: 35%
}


.detail-descrip p {
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  display: block;
}

/* footer section */

.footer {
  background-color: black;
  height: 10rem;
  margin-top: 4rem;
  display: flex;
}

.copyright {
  display: flex;
  align-items: center;
}

.footer .copyright p {
  color: white;
  text-align: left;
  font-family: helvetica;
  margin-left: 5rem;
}

/* media queries */

@media only screen and (max-width: 1024px)  {

  .newarrivalbox {
    padding-left: 0;
  }

  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }

  .products {
    justify-content: space-between;
  }

  .menu {
    display: inherit;
  }

  .desktop {
    display: none;
  }

  .details {
    justify-content: space-between;
  }

  .footer .copyright p {
    margin-left: 0;
  }
}

@media only screen and (max-width: 470px) {

  .newarrival {
    height: 15rem;
  }

  .newarrivalbox {
    padding-top: 10rem;
    width: 100%;
  }

  .text {
    opacity: .74;
  }

  .newarrivalbox .subheader p {
    padding-top: 1rem;
    font-size: .77rem;
    padding-left: 2rem;
  }

  .newarrivalbox .header h1 {
    font-size: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 4.8rem;
  }

  .watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  .products {
    justify-content: space-around;
  }

  .indiv-detail {
    width: 90%;
    margin-bottom: .5rem;
  }

  .details {
    display: block;
    margin-left: 2rem;
  }

  .copyright {
    margin-left: 5.5rem;
  }
}
